In [3]:
list_ = [4, 5, 6, 7, 8]       #task1
list1 = 8
list_.insert(2, list1)
print(list_)

[4, 5, 8, 6, 7, 8]

In [10]:
list2 = [3, 5, 6, 23, -2, -4, -8]   #task2
list2.sort()
del list2[3]

print(list2)

[-8, -4, -2, 5, 6, 23]

In [15]:
list_ = [1, 22, 3, 45, 22, 4, 89, 87, 87, 4]    #task3
num = int(input('Write a number from the list: '))

list3 = list_.count(num)
print(list3)

2

In [17]:
#task4
list4 = ['Apple', 'Banana', 'Peaches', 'Strawberry', 'Blueberry']
list4.append('Mashrooms')
list4.insert(2, 'Broccoli')
print(list4)

['Apple', 'Banana', 'Broccoli', 'Peaches', 'Strawberry', 'Blueberry', 'Mashrooms']

In [20]:
list5 = list(range(0, 20)) #task5
print(list5)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [25]:
#task6
ls1 = [5, 45, 6, 4, 8, 0, -4]
ls2 = [-34, 56, -7, 0, 4]
ls1.extend(ls2)
list6 = sum(ls1)
print(ls1, "\n", list6)

[5, 45, 6, 4, 8, 0, -4, -34, 56, -7, 0, 4]
 83

In [30]:
ls7 = [1, 2, 3, 10, 100, 12, 4]

def is_bigger_than_10(n):
    return n > 10

list9 = list(filter(is_bigger_than_10, ls7))
print((list9))

[100, 12]

In [31]:
#task8
str_ = 'Data science is good!'
list10 = str_.split()

print(list10)

['Data', 'science', 'is', 'good!']

In [32]:
str_ = 'The second type of coordinate system is a projected coordinate system.'
list10 = str_.split()

print(list10)

['The', 'second', 'type', 'of', 'coordinate', 'system', 'is', 'a', 'projected', 'coordinate', 'system.']